body{
    background-color: black;
}

/*--------- Barra de Navegación ---------*/

/*--------- Sección de Introducción ---------*/

/*--------- Sección Acerca de Nosotros ---------*/

/*--------- Sección de Beneficios Exclusivo ---------*/

/*--------- Sección de Ejercicios Populares ---------*/

/*--------- Sección de Programas de Entrenamiento ---------*/

/*--------- Sección de Recetas Populares ---------*/

/*--------- Sección de Testimonios ---------*/

/*--------- Sección de Conoce a Nuestro Equipo ---------*/

/*--------- Sección de Video Explicativo ---------*/
.video-explicativo{
    max-width: auto;
    margin: auto;
    text-align: center;
    background-color: #000000;  
}
.video-raw{
    width: auto;
    height: 300px;
    border-radius: 10px;
    
}   
.video{
    display: flex;
    justify-content: center;
    padding-bottom: 208px ;
}
.header-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif; /* Cambia 'Roboto' por la fuente deseada */
    font-weight: 700;
    font-size: 2em; /* Ajusta el tamaño de la fuente según sea necesario */
    color: #ffff;
}
em{ 
    color:#896CFE;
}
/*--------- Sección de Nuestros Planes - Precios ---------*/

/*--------- Sección de Explora Nuestra App ---------*/

/*--------- Sección de Pregruntas Frecuentes ---------*/

/*--------- Sección de Casos de Éxito ---------*/

/*--------- Sección de Contacto ---------*/

/*--------- Sección de Footer ---------*/

/*--------- Media Queries ---------*/
